<div class="container fixed-top bg-white">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        <span class="fs-4" style ="font-family: 'Courier New', Courier, monospace;">Portfolio</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="{{url_for('index')}}" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="{{url_for('achievements')}}" class="nav-link">Achievements</a></li>
        <li class="nav-item"><a href="{{url_for('projects')}}" class="nav-link">Projects</a></li>
        <li class="nav-item"><a href="mailto:deoreom8@gmail.com?body=Your%20name%20%3A%20%0D%0AYour%20message%20%3A%20" class="nav-link">Contact</a></li>
      </ul>
    </header>
  </div>
